@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>
<h2>@(((Movie)ViewData["Movie"]).Name)</h2>
<h2>@(((Movie)ViewBag.Movie).Name)</h2>

@*
    This is a comment
    on multiple lines
*@

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}
<h2 class="@className">Preferred, View Models @Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{
    <text>No One has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>   
}